.todo-app {
  width: 595px;
  height: 570px;
  border: 3px solid;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px 12px 4px rgb(0 0 0 / 25%);
  margin: 10px auto;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid;
  padding-bottom: 16px;
}

.body {
  width: calc(100% - 15px);
  max-height: 350px;
  overflow: auto;
  padding: 8px;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 50px;
  justify-content: space-around;
  width: calc(100% - 32px);
  padding: 16px;
  border-top: 2px solid;
}

.footer__number {
  display: flex;
  align-items: center;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  border-bottom: 2px solid;
  padding: 5px 10px 0 15px;
}

.todoItem__content {
}

.todoItem__button {
  display: flex;
  align-items: center;
}

.todoItem__button--green {
  margin-right: 8px;
}
